<header class="row justify-content-between toolbar align-items-center">
    <div class="col-2">
        <div class="row row-cols-2 justify-content-center text-center">
            <div class="section-text">Work</div>
            <div class="section-text">Contact</div>
        </div>
    </div>
    <div class="col-2">
        <div class="row row-cols-4 justify-content-center">
            <img src="../../assets/lh.gif"/>
        </div>
    </div>
    <div class="col-2">
        <div class="row row-cols-2 justify-content-end text-center">
            <a href="https://www.linkedin.com/in/lucia-hobrecht/" class="social-media" target='_blank'><i class="bi bi-linkedin fs-5 "></i></a>
            <a href="https://github.com/luhobrecht" target="_blank" class="social-media"><i class="bi bi-github fs-5"></i></a>
        </div>
    </div>
</header>
