aside {
    background-color: #3d3d3d;
    height: 100vh;
    width: var(--siderbar-width);
    position: fixed;
}

.project > a {
    color: #f3f3f3;
    text-decoration: none;
    font-weight: 400;
}

.project {
    padding: 2em;
}

.project > a:hover {
    font-weight: 600;
}

.project > a::selection {
    font-weight: 600;
}
